!!! 5
%head
	%meta{charset: "utf-8"}
	%title Invite
	%link{href: "stylesheets/style.css", rel: "stylesheet"}
	%link{href: "stylesheets/animation.css", rel: "stylesheet"}
	%link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}
	%link{href: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css", rel: "stylesheet"}
.site_block
	%header
		.logo
			%h1 Invite.io
		.desc
			%p Лучшие дизайн-проекты, эксперименты от креативных кодеров, подборки фотографий — представляем вам 38 сайтов, которые вдохновляют
	.menu
		%ul
			%li{:class => "active"}
				%a{href: 'index.html'} Главная
			%li
				%a Конкурсы
			%input{type:'search', placeholder:'Search'}
			%button{:class => "new"} Добавить
			%button{:class => "about"} О нас
	.work{:id => "block"}
		.block_full
			.post{style: "background:#146bb2"}
				%span{:class => "center"}
				%img{src: "images/lib/jq_3.png"}
			.text
				%p jQuery — библиотека JavaScript, фокусирующаяся на взаимодействии JavaScript и HTML. Библиотека jQuery помогает легко получать доступ к любому элементу DOM, обращаться к атрибутам и содержимому элементов DOM, манипулировать ими. Также библиотека jQuery предоставляет удобный API для работы с AJAX. Сейчас разработка jQuery ведется 	командой jQuery во главе с Джоном Резигом.
%script{:type => "text/javascript",
        :src  => "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
%script{:type => "text/javascript",
        :src  => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"}
%script{:type => "text/javascript",
        :src  => "js/index.js"}
%script{:type => "text/javascript",
        :src  => "js/zeroclipboard/dist/ZeroClipboard.js"}